@font-face {
    font-family: 'Regular';
    src: url(./PierSans-Regular.otf);
}

@font-face {
    font-family: 'Bold';
    src: url(./PierSans-Bold.otf);
}

body, html {
    overflow-x: hidden;
}

* {
    margin: 0;
    
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Regular;
}

#app{
    display: flex;
    justify-content: space-between;
}
