@font-face {
    font-family: 'Regular';
    src: url(./PierSans-Regular.otf);
}

@font-face {
    font-family: 'Bold';
    src: url(./PierSans-Bold.otf);
}

body, html {
    overflow-x: hidden;
}

* {
    margin: 0;
    font-family: Regular;
}

#app{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
