body, html {
    overflow-y: hidden;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'Regular';
    src: url(./PierSans-Regular.otf);
}

@font-face {
    font-family: 'Bold';
    src: url(./PierSans-Bold.otf);
}